<section class="hero">
  <div class="container hero__inner">
    <div class="hero__content">
      <h1 class="hero__title">Англійська, яку діти чекають</h1>
      <p class="hero__subtitle">
        Bohonos English School — онлайн-школа англійської для дітей 5–18 років.
        Заняття у Zoom, багато розмовної практики та атмосфера, в якій дитина не
        боїться говорити.
      </p>
      <p class="hero__note">
        <a href="#" class="hero__note-link"
          >Весело, з любов’ю й результатом. Перший пробний урок —
          безкоштовно.</a
        >
      </p>

      <a href="https://docs.google.com/forms/d/e/1FAIpQLSe_n1vw-lr84KfxnieuegS11U-zNt3S4yoAr-uYHAuqQQ71RQ/viewform?usp=publish-editor" class="btn btn--primary hero__btn" target="_blank">
        <span class="hero__btn-text">Записати на пробний урок</span>
      </a>
    </div>

    <div class="hero__image-wrapper">
      <div class="hero__circle"></div>
      <img
        src="./img/portrait-delighted-hipster-male-student-7-min.png"
        alt="Студент"
        class="hero__image"
      />
    </div>
  </div>
</section>
