.footer-ig {
  background-color: $color-white;
  text-align: center;
  padding: 24px 0;

  &__title {
    font-size: 18px;
    margin: 0 0 8px;
  }

  &__text {
    font-size: 14px;
    margin: 0 0 14px;
    color: $color-text;
  }

  &__btn {
    justify-content: center;
    font-size: 14px;
    background-color: $color-brand-brown-soft;
  }
}
