.header {
  background-color: $color-white;
  border-bottom: 1px solid #8f7d7d;
  

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0;
  }

  &__btn {
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.06em;
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;

  &__icon {
    width: 65px;
    height: 40px;
    border-radius: 50%;
    background-color: $color-bg;
    color: $color-white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 16px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    line-height: 1;
  }

  &__title {
    font-size: 18px;
  }

  &__subtitle {
    font-size: 15px;
    letter-spacing: 0.08em;
  }
}

.nav {
  &__list {
    display: flex;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__link {
    font-size: 13px;
    color: $color-muted;
    position: relative;
    padding-bottom: 4px;
    text-transform: uppercase;
    letter-spacing: 0.06em;

    &--active,
    &:hover {
      color: $color-dark;
    }

    &--active::after,
    &:hover::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background-color: $color-brand-cream;
    }
  }
}
