.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;          

  @media screen and (min-width: 362px) {
    max-width: 362px;
  }


  @media screen and (min-width: 728px) {
    max-width: 728px;
  }

  @media screen and (min-width: 1246px) {
    max-width: 1246px;
  }
}